<table border="3">
    <tr>
        <td>id</td>
        <td>name</td>
     
    </tr>
{% for a in tabstudent %}
    <tr>
        <td>{{a.id}}</td>
        <td>{{a.name}}</td>
  
  
    </tr>
    {% endfor %}
</table>