{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('produ/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produ_index') }}">back to list</a>

    {{ include('produ/_delete_form.html.twig') }}
{% endblock %}
